<div>
    <p>controller scope</p>
    <input type="text" name="" id="" class="sender" ng-model="outerModel" />
    <p scooper com-channel="outerModel" teleport="{{portal}}" callback="sayhi(val)">isolated scope</p>
    <table>
        <thead>
            <th>Name</th>
            <th>Price</th>
            <th>Currency</th>
               </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
     
    </table>
</div>
